{#
/**
 * @file
 * Default theme implementation for a field group nav item.
 *
 * Available variables:
 * - attributes: Item attributes
 * - title: Title of the group.
 * - children: The children of the group.
 *
 * @see template_preprocess_field_group_nav_item()
 *
 * @ingroup themeable
 */
#}

{% set classes = [
  'field_group_nav_item',
] %}

<div {{ attributes.addClass(classes) }}>
  <h2 class="field_group_nav_item__title">
    {{ title }}
  </h2>
  <div class="field_group_nav_item__children">
    {{ children }}
  </div>
</div>
