{#
/**
 * @file
 * Default theme implementation for a page navigation nav.
 *
 * Available variables:
 *   - items: An array of navigation items.
 *     - nav_id: Nav id.
 *     - title: Title.
 *     - attributes: Item attributes.
 *
 * @ingroup themeable
 */
#}

{% set classes = [
  'page_navigation__item',
] %}

<nav class="page_navigation">
  <ul class="page_navigation__items">
    {% for item in items %}
      <li {{ item.attributes.addClass(classes) }}>
        <a href="#{{ item.nav_id }}">{{ item.title }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>
